.container-fluid {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.page1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.old{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
.navbar{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar a{
  color: black;
  text-decoration: none;
}
.navbar a:hover{
  color: brown;
 
}
.apple{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.white{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  
}
.white   button{
  text-decoration: none;
  list-style: none;
}
.black{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.tiger{
  transition: 0.2s ;
}
.tiger:hover{
 color: #FF6612;
}
.old{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.young{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.thumb{
  background-color: #e2e3e5;
  
}
.thumb1{
  background-color: #9ec5fe;
}
.thumb2{
  background-color: #f8d7da;
}
.thumb3{
  background-color: #a3cfbb;
  
}
.tour{
  color:#FF6612 ;
}
.Packages{
 color: #FF6612;

}
.bg{
  background-color:#212529 ;

}
.prabu a{
  cursor: pointer;

}
.prabu a {
  text-decoration: none;
  list-style: none;
  color:white;
 padding: 10px;
  border-width: 30px;
  border-radius: 50%;
  background-color: #FF6612;
  padding-left: 10px;
  padding-right: 10px;
}
.prabu {
  
  gap: 20px;
 
 
}
.prabu.new{
  border-radius: 50%;
}
.last{
  background-color: #e2e3e5;
}
*{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}




